body.no-scroll {
  overflow: hidden;
}
body.no-Enavbar {
  padding-top: 0; /* Adjust padding if needed when navbar is hidden */
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2b002b;
  background-image: url('../../../Components/Assests/ecommerce-service.png');
  background-size: cover;
 
}

.card-login {
  background-color: #2d8ff0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin-left: 30%;
}

.card-header-login {
  color: #fff;
}

.card-header-login h2 {
  color: #fff;
  align-items: center;
}

.card-body-login {
  padding: 20px;
}

.input {
  position: relative;
  margin-bottom: 15px;
}

.input img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input input {
  width: calc(100% - 40px);
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input select {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.submit-container {
  text-align: center;
  margin-top: 20px;
}

.submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #8400ff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.forgot-password,
.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link span {
  color: #333;
}

.signup-link .signup {
  color: #007bff;
  text-decoration: none;
}
.card-header-login {
  background: linear-gradient(100deg, #7c3ad1, #2d2481); /* Gradient header */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px; /* Adjusted padding for better spacing */
  text-align: center; /* Center the text */
  color: #fff; /* White text color */
}

.card-header-login h2 {
  margin-left: 150px; /* Remove default margin */
  font-size: 24px; /* Optional: Increase font size for better visibility */
}

