/* Default styles */
body.no-scroll {
  overflow: hidden;
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fce3fc;
}

.card-login {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  margin: 20px;
}

.header_Signup {
  background: linear-gradient(100deg, #7c3ad1, #2d2481);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.header_Signup h2 {
  color: #fff;
  margin-left: 150px;
}

.body {
  padding: 20px;
}

.input {
  position: relative;
  margin-bottom: 15px;
}

.input input,
.input select {
  width: calc(100% - 20px); /* Ensures full width accounting for padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Increase font size for better readability */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for focus effects */
}

.input input:focus,
.input select:focus {
  border-color: #7c3ad1; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(124, 58, 209, 0.5); /* Add shadow on focus */
  outline: none; /* Remove default outline */
}

.submit-container {
  text-align: center;
  margin-top: 20px;
}

.submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px; /* Increase button font size */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.submit:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link span {
  color: #333;
}

.login-link .login {
  color: #007bff;
  text-decoration: none;
}

.login-link .login:hover {
  text-decoration: underline; /* Underline on hover */
}

.error-message {
  color: red; /* Color for error messages */
  text-align: center; /* Center align error messages */
  margin-top: 10px; /* Space between the form and error message */
}

/* Responsive styles */
@media (max-width: 768px) {
  .card-login {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .card-login {
    width: 90%;
  }
}
