/* Settings.css */

.app-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Adjust height as needed */
}



/* Side Navigation (sidenav) styles */
/* .sidenav {
    width: 250px; 
    background-color: #281042;
    height: 100%;
    overflow-y: auto;
    padding: 20px 10px;
    border-right: 1px solid #ccc;
    margin-right: 20px; 
    margin-top: 60px; 
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav ul li {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.sidenav ul li:last-child {
    border-bottom: none;
}

.sidenav ul li a {
    display: flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
}


.sidenav ul li.active {
    background-color: #b065ce;
    color: white;
}

.sidenav ul li.active a {
    color: white;
} */

/* Main content (settings-container) styles */
.settings-container {
    flex: 1;
    margin-top: 100px; /* Adjust top margin to clear the header */
    padding: 20px;
    margin-left: 500px;
}

.settings-heading {
    font-size: 24px;
    color: #333;
}

.settings-content {
    margin-top: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust form width as needed */
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Input field takes full width of parent */
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.btn-save {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}

.btn-save:hover {
    background-color: #0056b3;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 00px;
    margin-top:200px;
    margin-left: 500px; 
}
