

.productdisplay {
    display: flex; 
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.productdisplay-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
    object-fit: cover;
}

.productdisplay-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 110%;
    padding-left: 40px;
    padding-bottom: 40px; 

}
