.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure navbar is above other content */
}

.nav-logo {
  width: 60px;
  /* /* margin-left: 45px; */
} 

h1 {
  /* margin: 0; */
  font-size: 1.5rem;
  color: #333333;
  margin-right: 1400px;
}

.admin-panel {
  font-size: 0.8rem;
  color: #666666;
  margin-right: auto; /* Adjust margin to push other content away */
}

.dropdown-contentt {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  margin-right: 100px;
}

.dropdown-contentt a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-contentt a:hover {
  background-color: #f1f1f1;
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-container .dropdown-contentt {
  display: block;
}

.user-icons {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-image: url('../../assets/Assets/Admin_Assets/users.png');
  background-size: cover;
  background-position: center;
  margin-right: 140px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 15px 30px;
  }
  
  .nav-logo {
    width: 50px;
  }
  
  h1 {
    font-size: 1.2rem;
  }
  
  .admin-panel {
    font-size: 0.7rem;
  }
  
  .user-icons {
    width: 30px;
    height: 30px;
  }
  
  .dropdown-contentt {
    top: 50px;
    width: 130px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }
  
  .nav-logo {
    width: 40px;
  }
  
  h1 {
    font-size: 1rem;
  }
  
  .admin-panel {
    display: none; /* Hide admin panel text on smaller screens */
  }
  
  .user-icons {
    width: 25px;
    height: 25px;
  }
  
  .dropdown-contentt {
    top: 45px;
    width: 120px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 15px;
  }
  
  .nav-logo {
    width: 30px;
  }
  
  h1 {
    font-size: 0.8rem;
  }
  
  .user-icons {
    width: 20px;
    height: 20px;
  }
  
  .dropdown-contentt {
    top: 40px;
    width: 110px;
  }
}