/* CreateOrderModal.css */

/* Adjust modal styles as needed */
 .modal-content {
    border-radius: 2;
    width: 300px;
}

.modal-header {
    background-color: #723aad;
    color: #fff;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: none;
} 

 

