


.wishlist-items {
  padding: 20px;
  text-align: center;
  margin-left: 800px;
}

.wishlist-items p{
  margin-left: 30px;
}
.wishlist-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.wishlist-item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.wishlist-item-card:hover {
  transform: scale(1.05);
}

.wishlist-product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.wishlist-item-details {
  margin-top: 10px;
  text-align: left;
}

.wishlist-item-details h3 {
  font-size: 1.2em;
  color: #333;
}

.wishlist-item-details p {
  font-size: 1.1em;
  color: #555;
}

.remove-from-wishlist-btn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-from-wishlist-btn:hover {
  background-color: #ff3333;
}
