/* OrderIndividual Component Styles */

.order-individual-container {
  max-width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-left: 5%;
}

.customer-summary-wrapper {
  display: flex;
  justify-content: space-between; /* Move customer details and order summary to opposite ends */
  flex-wrap: wrap; /* Wrap items if they overflow */
}

.customer-details {
  flex: 1; /* Take up available space */
  margin-right: 20px; /* Provide some spacing between customer details and order summary */
}

.order-summary {
  flex: 1; /* Take up available space */
}

.order-individual-container h3 {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .table th, .table td {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .table th, .table td {
    font-size: 12px;
  }
}
