
.admin-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
 
}

.dashboard-main {
  display: flex;
  justify-content: center;
 
  
}

.admin-main-content {
  width: 100%;
  max-width: 1800px;
  margin-left: 100px;
}

.dashboard-overview {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-widgets {
  display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.dashboard-widget {
  padding: 20px ;
  border-radius: 10px;
  color: white;
  

}

.users-widget {
  background-color: #4CAF50; 
  width: 200px;
}

.products-widget {
  background-color: #2196F3; 
  width: 200px;
}

.sales-widget {
  background-color: #FF9800; 
}
.seller-widget {
  background-color: #FF5722; /* Deep Orange */
  width: 200px;
}

.orders-widget {
  background-color: #F44336; 
}

.widget-content {
  display: flex;
  align-items: center;
}

.widget-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.widget-data {
  font-size: 1.5rem;
}

.dashboard-charts {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.chart-widget {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-widget:last-child {
  margin-right: 0; 
}
 
@media (max-width: 768px) {
  .dashboard-widgets {
    flex-direction: column; 
    align-items: center; 
  }

  .dashboard-widget {
    max-width: 90%; 
  }

  .dashboard-charts {
    flex-direction: column; 
  }

  .chart-widget {
    margin-right: 0; 
    margin-bottom: 20px;
    min-width: 100%; 
  }

  .chart-widget:last-child {
    margin-bottom: 0; 
  }
}

@media (max-width: 480px) {
  .widget-icon {
    font-size: 1.5rem; 
  }

  .widget-data {
    font-size: 1.2rem; 
  }

  .dashboard-widget {
    padding: 15px; 
  }
}
 
