/* Reset default margin and padding */
/* Users.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.user-dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #281042;
    border-bottom: 1px solid #ddd;
}

.header-left h2 {
    margin: 0;
    font-size: 1.5rem;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1rem;
}

.notifications {
    display: flex;
    align-items: center;
}

.notifications .badge {
    background-color: red;
    color: white;
    font-size: 0.8rem;
    padding: 3px 6px;
    border-radius: 50%;
    margin-left: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.search-bar button {
    background-color: #0e96e5;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    background-color: #555;
}

/* Sidebar (sidenav) */
.user-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidenav {
    width: 240px;
    background-color: #281042;
    color: white;
    padding-top: 20px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;

}

.sidenav li {
    padding: 12px 20px;
    font-size: 1rem;
}

.sidenav li.active {
    background-color: #555;
}

.sidenav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidenav a:hover {
    color: white;
    text-decoration: none;
}

/* Main content area */
.user-main {
    flex: 1;
    padding: 20px;
    margin-left: 700px;
    margin-top: 100px;
}

.users-main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-main-content ul {
    list-style-type: none;
    padding: 0;
}

.users-main-content li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-main-content li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-main-content li p {
    margin-bottom: 8px;
}

.users-main-content li button {
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
}