.seller-account {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.form-section {
    margin-bottom: 15px;
}

button {
    /* padding: 10px 20px; */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .seller-account {
        margin: 10px auto;
        padding: 15px;
    }
}
