body.no-scroll {
    overflow: hidden;
  }
.reset-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* Reset Password Card */
.reset-password-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
}

/* Card Header */
.card-header-reset {
    background: linear-gradient(100deg, #7f4aa8, #2e3bb4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/* Card Body */
.card-body-reset {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Input Group */
.input-group-reset {
    margin-bottom: 15px;
}

/* Input Label */
.input-group-reset label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Input Field */
.input-group-reset input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}