
      
      .sidebar {
        width: 250px;
        height: 100%;
        background-color: #333;
        position: fixed;
        top: 9.5%;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        color: #fff;
      }
      
      .sidebar-item {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        transition: background-color 0.3s;
      }
      
      .sidebar-item:hover {
        background-color: #555;
      }
      
      .sidebar-item img {
        width: 20px;
        margin-right: 15px;
      }
      
      .sidebar-item p {
        margin: 0;
      }
      
      .dropdown {
        position: relative;
      }
      
      .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 200px;
        z-index: 1;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #555;
      }
      .dropdown-icon {
        width: 10px; /* Adjust width as needed */
        margin-left: 10px; /* Spacing between text and icon */
      }
      