 .order-history-container {
  padding: 20px;
}
.order-history-container h2{
  margin-left: 90px;
}
.order-history-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 80px;
}

.order-history-table th, .order-history-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.order-history-table th {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
}

.view-order-button {
  color: #007bff;
  text-decoration: none;
}

.view-order-button:hover {
  text-decoration: underline;
} 



.cancel-order-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-order-button:hover {
  background-color: darkred;
}

.error-message {
  color: red;
  font-size: 16px;
}
