/* Wallet.css */
.wallet-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f4f4f9; /* Light background color */
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #555;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F37254; /* Matching Razorpay color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e25443; /* Darker shade for hover effect */
}

button:disabled {
  background-color: #ccc; /* Gray out disabled button */
  cursor: not-allowed;
}

.wallet-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-actions button {
  width: 200px;
}

.selected-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.selected-amount button {
  width: 200px;
  background-color: #4CAF50; /* Green color for Pay Now button */
  margin-top: 10px;
}

.selected-amount button:hover {
  background-color: #45a049;
}
