/* ExcistingProduct.css */
/* App container styles */
.app-container {
    display: flex;
    flex-direction: column;
    
}

/* Main content (existing-product-container) styles */
.existing-product-container {
    padding: 6px;
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 300px;
}

.existing-product-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.existing-product-container table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 16px;
}

.existing-product-container table th,
.existing-product-container table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.existing-product-container table th {
    background-color: #f0f0f0;
}

.existing-product-container table td {
    background-color: #fff;
}

.existing-product-container table tr:hover {
    background-color: #f5f5f5;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 10%;
}