/* Reports.css */

.admin-main-content {
    background-color: #fff;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    
}

.reports-analytics {
    margin-bottom: 20px;
    width: 100%;
}

.reports-analytics h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.reports-list {
    margin-top: 10px;
}

.report-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.report-item p {
    margin: 5px 0;
}

.report-actions {
    margin-top: 10px;
}

.report-actions button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.report-actions button:hover {
    background-color: #0056b3;
}

.report-actions button:last-child {
    background-color: #dc3545;
}

.report-actions button:last-child:hover {
    background-color: #c82333;
}
