 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #281042;
  padding: 10px 20px;
  color: #ecf0f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}
  

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #ecf0f1;
  position: relative;
}

.headerSearch {
  display: flex; 
  align-items: center;
}

.headerSearch input {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 200px; 
}

.btn-search {
  padding: 10px 15px; 
  background-color: #007bff; 
  color: white;
  border: none; 
  border-radius: 5px; 
  margin-left: 0px; 
  cursor: pointer;
  margin-top: 50px;
  
}


.btn-search:hover {
  background-color: #0056b3; 
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart button {
  background-color: #50046e;
  border: none;
  color: #ecf0f1;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.nav-login-cart button:hover {
  background-color: #390a3f;
}

.nav-login-cart .cart-icon {
  height: 30px;
  transition: transform 0.3s ease;
}

.nav-login-cart .cart-icon:hover {
  transform: scale(1.1);
}


body {
  padding-top: 70px; 
}

.dropdown-content {
  display: none; 
  position: absolute;
  top: 40px; 
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; 
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}


.dropdown-container .dropdown-content {
  display: block;
}

.user-icon {
  height: 50px;
  margin-right: 50px;
} 
 
