/* styles.css */

.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-image: url('../backgr.jpg');
  }
  
  .card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 700px;
    margin-bottom: 150px;
    margin-right: 700px;/*center for card*/
  }
  
  .card-header {
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .inputs {
    margin-bottom: 15px;
  }
  
  .input {
    position: relative;
  }
  
  /* .input img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
   */
  /* .input input {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  .submit-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .message {
    margin-top: 10px;
    text-align: center;
    color: green; /* Adjust color as needed */
  }
  
  .back-to-login {
    text-align: center;
    margin-top: 10px;
  }
  
  .back-to-login a {
    color: #007bff;
    text-decoration: none;
  }
  