.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #281042;
  padding: 10px 20px;
  color: #ecf0f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed; /* Ensure navbar remains fixed */
  top: 0; /* Align to the top of the viewport */
  width: 100%; /* Take full width of the viewport */
  z-index: 1000; /* Ensure it's above other content */
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #ecf0f1;
  position: relative;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.nav-login-cart button {
  background-color: #50046e;
  border: none;
  color: #ecf0f1;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.nav-login-cart button:hover {
  background-color: #390a3f;
}

.nav-login-cart .cart-icon {
  height: 30px;
  transition: transform 0.3s ease;
}

.nav-login-cart .cart-icon:hover {
  transform: scale(1.1);
}

/* Optional: Add padding to the body to account for the fixed navbar */
body {
  padding-top: 70px; /* Adjust based on your navbar height */
}





.dropdown-content {
  display: none; /* Initially hide dropdown */
  position: absolute;
  top: 40px; /* Adjust positioning */
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Hover color */
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}

/* Show dropdown content when isDropdownOpen is true */
.dropdown-container .dropdown-content {
  display: block;
}

.user-icon{
  height:50px
}