
 .side-navbar {
  width: 80px; /* Initial width when collapsed */
  position: fixed;
  background-color: #281042;
  left: 0;
  top: 60px;
  bottom: 0;
  padding-top: 20px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  box-shadow: 2px 0 5px rgba(214, 212, 212, 0.1);
  z-index: 1000; /* Ensure sidebar is above other content */
}

.side-navbar.expanded {
  width: 400px;
}

.toggle-btn {
  background-color: #7643b1;
  border: none;
  color: #ecf0f1;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #8d43a3;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-item {
  width: 200%;
  color: white;
}


.nav-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  background-color: #b065ce; 
  color: #fff; 
}

.nav-icon {
  font-size: 20px;
  margin-right: 20px;
}

.nav-link span {
  font-size: 16px;
  display: inline-block;
} 
 
