.container {}
  /* display: flex;
  justify-content: center; 
  align-items: center;
  background-image: url('../back.jpg');
  background-size: contain; /* 90% of the container width */
  /* background-position: 90% center; /* Positioned 90% from the left and centered vertically */
  /* background-repeat: no-repeat; /* Prevent background image from repeating */
  /* background-size: auto 100%; /* Adjust the size of the background image */
  /* height:90vh;
  width:100%;  */ 
  /* display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-image: url('../backgr.jpg');
  /* } */

  .background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../backgr.jpg');
  }
  .card-header{
    
    color:#fff;
    font-size: x-small;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
 background: linear-gradient(100deg,#00a2ff,#ff00aa);
  };
  
  .card-body{
    padding: 10%;
  }
  
  .header h2 {
    margin: 0;
    color: white;
    
  }
  
  .input {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    filter: hue-rotate(240deg);
  }
  
  .input input {
    width: calc(120% - 40px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 3px;
  }
  
  .submit-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .submit.gray {
    background-color: #ccc;
    color: #333;
    margin-left: 10px;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link span {
    color: #333;
  }
  
  .login-link .login {
    color: #007bff;
    text-decoration: none;
  }
  