.delivery-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.search-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 60%; /* Adjusted width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.clear-search-btn {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px; /* Increased space on the right */
  transition: background-color 0.3s;
  width: 120px; /* Increased width */
}

.clear-search-btn:hover {
  background-color: #c82333;
}

.status-filter {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 160px; /* Adjusted width for better appearance */
}

.add-delivery-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px; /* Increased space on the right */
  transition: background-color 0.3s;
  width: 120px; /* Increased width */
}

.add-delivery-btn:hover {
  background-color: #0056b3;
}

.add-delivery-form {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
}

.add-delivery-form input,
.add-delivery-form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-delivery-form button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.add-delivery-form button:hover {
  background-color: #218838;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1bb997;
}

.update-status-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  z-index: 1000;
  background-color:#e0a800
 
}

.update-status-modal h3 {
  margin-bottom: 10px;
}

.update-status-modal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.active {
  background-color: #0056b3;
}



