  .seller-dashboard {
  padding: 20px;
  background-color: #f4f4f4; 
  height: 100vh;
  margin-left: 100px;
}

.dashboard-mainn {
  display: flex;
}

.seller-main-content {
  flex: 1;
  padding: 20px;
}

.dashboard-overvieww {
  margin-bottom: 20px;
}

.dashboard-widgetss {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.dashboard-widgett {
  background: white; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 23%; 
  margin-right: 10px; 
}


.dashboard-widgett:last-child {
  margin-right: 0; 
}

.widget-contentt {
  display: flex; 
  align-items: center; 
}

.widget-iconn {
  font-size: 24px; 
  margin-right: 10px; 
  color: white; 
}

.widget-dataa {
  font-size: 20px; 
  font-weight: bold; 
}

.recent-orders-listt {
  list-style: none; 
  padding: 0; 
}

.recent-orders-listt li {
  margin: 5px 0; 
}

.dashboard-chartss {
  display: flex; 
  justify-content: space-between; 
}

.chart-widgett {
  background: white; 
  border-radius: 8px; 
  padding: 20px;
  width: 48%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
 
}

.product-managementt {
  margin-top: 20px; 
}

.product-managementt h2 {
  margin-bottom: 10px;
  margin-left: 5px;
}

.add-product-button {
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  background-color: #4CAF50; 
  color: white;
  cursor: pointer; 
  margin-bottom: 15px; 
  transition: background-color 0.3s; 
}

.add-product-button:hover {
  background-color: #45a049; 
}

.product-listt {
  background: white; 
  padding: 10px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.sales-history {
  margin-top: 20px; 
}
.sales-history h2{
  margin-left: 5px;
}

.sales-history-table {
  width: 100%; 
  border-collapse: collapse; 
}

.sales-history-table th,
.sales-history-table td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

.sales-history-table th {
  background-color: #f2f2f2; 
  text-align: left;
}

.sales-history-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.sales-history-table tr:hover {
  background-color: #f1f1f1; 
}

.users-widget {
  background-color: #4CAF50; 
}

.products-widget {
  background-color: #2196F3; 
}

.sales-widget {
  background-color: #FF9800; 
}

.orders-widget {
  background-color: #F44336; 
}
.dashboard-navigation {
  text-align: center; 
  margin: 20px 0;
  margin-left: 80%;  
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #281042; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #50046e; 
}


@media (max-width: 768px) {
  .dashboard-widgetss {
    flex-direction: column; 
  }

  .dashboard-widgett {
    width: 100%; 
    margin-bottom: 15px; 
    margin-right: 0; 
  }

  .dashboard-chartss {
    flex-direction: column; 
  }

  .chart-widgett {
    width: 100%;
    margin-bottom: 15px;
  }
} 
  
  