/* SellerDashboard.css */

.seller-dashboard {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 90vh;
}


.dashboard-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}



.dashboard-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f2f2f2;
  margin-left: 500px;
  margin-top: 100px;
}

.seller-heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
