.refunds-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 200px;
  }
  
  .refunds-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .refunds-table th,
  .refunds-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
  }
  
  .refunds-table th {
    background-color: #811b1b;
  }
  
  .refunds-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .refunds-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .refunds-table td button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .refunds-table td button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Adjust styles as per your design requirements */
  